<%- include ("./partials/header") %>

<div class="container pt-3">
    <div class="jumbotron">
        <h3 class="text-center"><span class="oi oi-document"></span>Welcome to the D Directory </h3>
    </div>
</div>

<a class="nav-link text-center" href="/show">Go to show Page! </a>

<%- include ("./partials/footer") %>